@font-face {
  font-family: 'Siemens Sans';
  src: url('./Siemens Sans Roman.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-display: block;
}

@font-face {
  font-family: 'Siemens Sans';
  src: url('./Siemens Sans Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-display: block;
}

.class700 {
  font-family: 'Siemens Sans', sans-serif;
}
