@font-face {
  font-family: 'NewRailAlphabet';
  src: url('./3399.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NewRailAlphabet';
  src: url('./3405.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NewRailAlphabet';
  src: url('./3411.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

:root {
  // https://designsystem.tfwm.org.uk/styles/colour-palettes/
  --yellow: #ffdd00;
  --red: #d4351c;
  --grey: #676869;
}

.tfwm-board {
  font-family: 'NewRailAlphabet';
  font-size: 50px;

  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);

  width: 1500px;
  overflow: hidden;

  padding: 18px;

  color: #fff;

  .tab-nums {
    font-variant-numeric: tabular-nums;
  }

  .flash {
    animation: flash 2s infinite;

    @keyframes flash {
      0% {
        opacity: 0;
      }
      10% {
        opacity: 0;
      }
      40% {
        opacity: 1;
      }
      60% {
        opacity: 1;
      }
      90% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
  }

  &__notice {
    display: flex;
    flex-direction: column;

    .fullscreenNotice {
      flex-grow: 1;

      padding: 16px 24px;

      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}
