.slidey-scroll-text {
  overflow: hidden;
  white-space: nowrap;

  --edge-fade: 32px;
  --show-fade-left: 0;
  --show-fade-right: 0;

  --edge-fade-l: calc(var(--edge-fade) * var(--show-fade-left));
  --edge-fade-r: calc(var(--edge-fade) * var(--show-fade-right));

  -webkit-mask-image: -webkit-linear-gradient(
    to right,
    transparent,
    black var(--edge-fade-l),
    black calc(100% - var(--edge-fade-r)),
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black var(--edge-fade-l),
    black calc(100% - var(--edge-fade-r)),
    transparent 100%,
    transparent 100%
  );

  // Fix issue with mask-image leaving 1px gaps at sides with 100% transparency
  clip-path: inset(0 1px);

  &-inner {
    --trans-x: 0;
    --opacity: 1;

    display: inline-block;

    opacity: var(--opacity);

    transform: translateX(var(--trans-x));
    transition: transform linear var(--transition-time, 0s), opacity linear 0.5s;
  }
}
