/*
  https://fontstruct.com/fontstructions/show/941136/data-display-daktronics-dmi-font
  Open Font License
  (created by me)
*/
@font-face {
  font-family: 'DataDisplay';
  src:
    url('font/DataDisplayDaktronicsDMIfont.woff2') format('woff2'),
    url('font/DataDisplayDaktronicsDMIfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'DataDisplay Clock';
  src:
    url('font/ConnexPISBoardClock.woff2') format('woff2'),
    url('font/ConnexPISBoardClock.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
