.noOverflow() {
  clip-path: inset(0);
}

.dot-matrix {
  width: 1920px;
  height: 576px;
  background: #080808;
  padding: 48px;

  user-select: none;

  font-family: 'Dot Matrix';
  color: orange;
  font-size: 72px;

  position: relative;

  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);

  .decoration {
    color: #fff;
    padding: 0 32px;

    margin-top: -8px;
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 3.75ch 6.5ch auto 9ch;
    width: 100%;

    * {
      font-family: Transport, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
      font-size: 24px;
    }
  }

  .display--no-services {
    padding: 16px 32px;

    background: #030303;
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;

    * {
      height: 1em;
      line-height: 1.1;
    }
  }

  .display--time {
    padding: 16px 32px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 24px;

    background: #030303;
    width: calc(7ch + 48px);
    text-align: center;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 900;

    * {
      line-height: 1.1;
      display: block;
      font-variant-numeric: tabular-nums lining-nums;
    }

    &__big {
      font-weight: 900;

      display: flex;

      * {
        width: 1ch;
      }
    }
    &__small {
      font-weight: 700;

      display: flex;

      * {
        width: 1ch;
        transform: translateY(14px);
      }
    }
  }

  .trainLine() {
    padding: 16px 32px;

    background: #030303;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 96px;

    margin-bottom: 24px;

    * {
      height: 1em;
      line-height: 1.1;
    }

    > :not(:last-child) {
      padding-right: 32px;
    }

    > :nth-child(1) {
      width: 3.75ch;
    }

    > :nth-child(2) {
      width: 6.5ch;
    }

    > :nth-child(3) {
      flex: 1;
    }

    > :last-child {
      width: 9ch;
    }
  }

  .display--loading-data {
    .trainLine();
  }

  .train--destination__with-via {
    height: 96px;
    width: 100%;
    background: #030303;
    overflow: hidden;
    .noOverflow();

    > .swap-out {
      overflow: hidden;
      background-color: transparent;
      position: absolute;
      width: auto;

      @keyframes swap1via {
        from,
        to,
        55% {
          transform: translateY(-100%);
        }
        5%,
        50% {
          transform: translateY(0);
        }
      }
      @keyframes swap2via {
        from,
        to,
        55% {
          transform: translateY(100%);
        }
        5%,
        50% {
          transform: translateY(0);
        }
      }

      @animate-time: 10s;
      @delay: 0.6s;

      &:first-child {
        animation: swap1via @animate-time linear infinite forwards;
        animation-delay: @delay;
      }

      &:last-child {
        transform: translateY(100%);
        animation: swap2via @animate-time (@animate-time / 2 + @delay) linear infinite forwards;
      }
    }
  }

  .train {
    .trainLine();
    .noOverflow();

    position: relative;

    &--alternate-between {
      height: 96px;
      width: 100%;
      background: #030303;
      overflow: hidden;
      .noOverflow();

      > .swap-out {
        overflow: hidden;

        @keyframes swap1 {
          from,
          to,
          52% {
            transform: translateY(-100%);
          }
          2%,
          50% {
            transform: translateY(0);
          }
        }
        @keyframes swap2 {
          from,
          to,
          52% {
            transform: translateY(100%);
          }
          2%,
          50% {
            transform: translateY(0);
          }
        }

        @animate-time: 30s;

        &:first-child {
          animation: swap1 @animate-time linear infinite forwards;
        }

        &:last-child {
          transform: translateY(100%);
          animation: swap2 @animate-time (@animate-time / 2) linear infinite forwards;
        }
      }
    }

    &.swap-out {
      background-color: transparent;
      position: absolute;
      bottom: 24px + 96px;
      left: 48px;
      right: 48px;
      width: auto;
    }
  }

  .train--spinner {
    position: absolute;
    left: -1920px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #030303;
    z-index: 10;
    font-weight: 700;

    width: auto !important;
    height: 96px !important;

    text-align: right;

    animation: slideSpinner 4s linear 1;
    transform: translateX(25%);

    span {
      width: auto !important;
      transform-origin: center;
      display: inline-block;
      animation: spin 4s linear 1;

      line-height: 116px;
      font-size: 96px;
      text-align: right;

      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg * 10);
        }
      }
    }

    @keyframes slideSpinner {
      from {
        transform: translateX(-110%);
      }
      to {
        transform: translateX(25%);
      }
    }
  }

  .train--details {
    clip-path: polygon(0 0, 100% 0, 100% 1000000000px, 0 1000000000px);

    position: relative;
    height: 96px;
    // font-style: italic;

    p {
      display: inline-block;
    }

    &__scroller {
      position: absolute;
      left: 0;

      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-duration: 0s;

      transform: translateX(1920px - 48px);

      @keyframes scrollByWidth1 {
        from {
          transform: translateX(1920px - 48px);
        }
        to {
          transform: translateX(-100%);
        }
      }
    }

    &__intermediary-stops {
      position: absolute;
      left: 0;

      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-duration: 0s;

      transform: translateY(-96px) translateX(calc((1920px - 48px) - 11ch));

      &[data-cancelled='true'] {
        transform: translateY(-96px) translateX(calc((1920px - 48px) - 14.5ch));
      }

      transition: transform 0.5s linear;

      @keyframes scrollByWidth2 {
        from {
          transform: translateX(calc((1920px - 48px) - 11ch)) translateY(0);
        }

        to {
          transform: translateX(-100%) translateY(0);
        }
      }

      @keyframes scrollByWidth2cancelled {
        from {
          transform: translateX(calc((1920px - 48px) - 14.5ch)) translateY(0);
        }

        to {
          transform: translateX(-100%) translateY(0);
        }
      }
    }

    &::after {
      background: #000;
      text-align: center;
      content: '..........................................................................................................................................';
      position: absolute;
      left: 50%;
      transform: translateX(calc(-50% + 3px));
      bottom: -20px;
      letter-spacing: 6px;
      font-size: 36px;
      z-index: -1;
    }
  }

  .train--details {
    * {
      white-space: nowrap;
      padding-left: 24px;
      height: 1em;
      line-height: 1.1;
    }

    display: flex;
    padding: 16px 32px;
    background: #030303;
    margin-bottom: 24px;
  }

  .nrccMsgs {
    .noOverflow();
    position: relative;

    span {
      position: absolute;
      left: 100%;

      animation: slideNrcc 0s linear infinite forwards;

      @keyframes slideNrcc {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(calc(-100% - 1920px));
        }
      }

      .nrccMsg {
        padding-left: 800px;
        white-space: nowrap;
        display: inline-block;
      }
    }
  }
}

.dot-matrix.dot-matrix--noBg {
  &,
  .display--no-services,
  .display--time,
  .train,
  .train--destination__with-via,
  .train--alternate-between,
  .train--spinner,
  .train--details {
    background: #000;
  }
}
