.separator {
  height: 0.3em;

  &::after {
    --extra-width: 8.5px;
    content: '...................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................';
    display: block;
    width: calc(100% + calc(var(--extra-width) * 2));
    margin-left: calc(var(--extra-width) * -1);
    font-size: 0.951em;
    letter-spacing: -0.08em;
    opacity: 0.5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    transform: translateY(-0.62em);
  }
}
